
.button_section{
    display: flex;
    justify-content: center;
}

.bttn{
    border: 1px solid var(--color-yellow-light);
    background-color:var(--color-black);
    font-size: 16px;
    color: var(--color-light);
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 1.5px;
}

.bttn:hover {
    box-shadow: 1px 1px 25px 10px var(--color-yellow-rgba);
    color: var(--color-yellow);
}

.bttn_middle{
    margin: 10px 10px 0 10px;
    width: 120px;
}

.bttn_small{
    width: 30px;
    letter-spacing: 0;
}

.fullscreen-enabled .bttn_big{
    width: 520px;
}


 