
.modal {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%; 
    height: 70%;
    background: linear-gradient(90deg, var(--color-light)0%, var(--color-yellow-light) 100%);
    margin: auto;
    border: 1px solid var(--color-light); 
    animation-name: animate;
    animation-duration: 0.5s;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes animate {
    from {bottom:300px; opacity:0}
    to {bottom:0; opacity:1}
}

.bttn_modal {
    position: absolute;
    top: 0;
    right: 10px;
}

.modal_text{
    color: var(--color-black);
    font-size: 36px;
}

.modal_p{
    color: var(--color-black);
    font-size: 18px;
}


