:root{
  --color-black: #000000;
  --color-light: #FFFFFF;
  --color-yellow: #f3e304;
  --color-yellow-rgba: rgba(243, 227, 4, 0.4);
  --color-yellow-light:#e6db4e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: var(--color-black);
  color: var(--color-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

h1 {
  margin: 0;
}
