:root{
  --color-black: rgb(0, 0, 0);
  --color-light: rgb(255, 255, 255);
  --color-yellow: rgb(243, 227, 4);
  --color-yellow-light:rgb(230, 219, 78);
  --color-yellow-rgba: rgba(240, 225, 14, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button, 
button:active, 
button:focus,
audio,
video {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: var(--color-black);
  color: var(--color-light);
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.fullScreen_bttn{
  border: 1px solid var(--color-yellow-light);
  background-color:var(--color-black);
  width: 30px;
  font-size: 16px;
  color: var(--color-light);
  padding: 5px;
  cursor: pointer;
}

.fullScreen_bttn:hover {
  box-shadow: 1px 1px 25px 10px var(--color-yellow-rgba);
  color: var(--color-yellow);
}




